<section class="relative">
  <h1 class="text-center mb-5 text-xl font-semibold text-white">Explore coleções por nome ou bloco</h1>
  <form  (ngSubmit)="search()" class="flex flex-wrap gap-5 justify-center">
    <input id="name" name="name" [(ngModel)]="name" type="text" placeholder="Nome"
      class="p-2 w-96 border-[1px] rounded-lg border-blue-950">
      <div class="relative">
        <select id="block" name="block" [(ngModel)]="block" #bloco="ngModel" required
          class="p-2 w-40 border-[1px] rounded-lg border-blue-950" [ngClass]="bloco.invalid && (bloco.dirty || bloco.touched) ? 'border-red-500 text-red-500' : ''">
          <option value="" selected disabled>Bloco</option>
          <option *ngFor="let block of blocks" [value]="block.toLowerCase()">{{block}}</option>
        </select>
        <div *ngIf="bloco.invalid && (bloco.dirty || bloco.touched)" class="absolute mt-1 ms-1 text-red-500">
          <div *ngIf="bloco.errors?.['required']">Selecione um bloco.</div>
        </div>
      </div>
    <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white px-5 rounded-lg">Buscar</button>
  </form>

</section>

<section class="mt-10">
  <div class="flex flex-wrap mx-10 gap-10 justify-center">

    <div *ngFor="let set of sets" class="bg-zinc-300 shadow-lg shadow-slate-600 hover:scale-110 transition ease-in-out delay-0 cursor-pointer w-72 rounded-lg ">
      <a [routerLink]="['/cards', set.code]" class="flex flex-col p-6 h-full">
        <p class="text-black text-lg font-semibold">{{set.name}}</p>
        <p class="text-black">{{set.block}}</p>
        <div class="bg-orange-700 mt-5 w-fit  self-end text-white font-semibold rounded-lg p-2">
          {{set.releaseDate | date:"dd/MM/yyyy"}}
        </div>
      </a>
    </div>
    <p *ngIf="sets.length === 0" class="text-white">Nenhum resultado encontrado.</p>
  </div>
</section>
