<section class="text-white">
  <div class="mb-10">
    <a routerLink="/" class="hover:underline cursor-pointer mb-7 sm:mb-0 block">Voltar para busca</a>

    <h1 class="text-center text-2xl font-semibold">Suas cartas do pacote aberto</h1>
  </div>
  <div class="flex flex-wrap mx-10 gap-10 justify-center">
    <app-card *ngFor="let card of filteredCards" [card]="card"/>
    <p *ngIf="filteredCards.length === 0" class="text-white">Nenhum resultado encontrado.</p>
  </div>
  <loading *ngIf="loadingBooster"/>
</section>
