<main class="p-10">
  <section>
    <form class="flex flex-wrap gap-5 justify-center">
      <input id="name" name="name" [(ngModel)]="name" type="text" placeholder="Nome" class="p-2 w-96 border-[1px] rounded-lg border-blue-950">
      <select id="block" name="block" [(ngModel)]="block" #bloco="ngModel" required class="p-2 w-40 border-[1px] rounded-lg border-blue-950">
        <option value="" selected>Selecione</option>
        <option value="um">Opção 1</option>
        <option value="dois">Opção 2</option>
      </select>
      <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white px-5 rounded-lg" (click)="buscar()">Buscar</button>
    </form>
    <div *ngIf="bloco.errors?.['required']" class="text-black">Selecione um bloco.</div>
  </section>

  <section class="mt-10">
    <div class="flex flex-wrap mx-10 gap-10">
      <div *ngFor="let item of list" class="shadow-lg hover:shadow-2xl cursor-pointer p-6 w-72 rounded-lg flex flex-col">
        <p class="text-lg font-semibold">Titulo do card {{ item }}</p>
        <p>bloco</p>
        <div class="bg-blue-400 mt-5 w-fit  self-end text-white font-semibold rounded-lg p-2">
          20/01/2005
        </div>
      </div>
    </div>
  </section>
</main>


<router-outlet />
